video {
    opacity: 0.3;
}

.center-text {   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    }
 