/* src/styles/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    :root{
        --fs-sm: clamp(0.75rem, 2vw, 1rem); /* Scales between 12px and 16px */
        --fs-md: clamp(0.875rem, 1.09375vw, 1.25rem); /* Scales between 14px and 18px */
        --fs-lg: clamp(1.125rem, 2.5vw, 1.375rem); /* Scales between 18px and 22px */
        --fs-xl: clamp(1.25rem, 2.5vw, 1.5rem); /* Scales between 20px and 24px */
        --fs-2xl: clamp(1.5rem, 2.5vw, 1.75rem); /* Scales between 24px and 28px */
        --fs-3xl: clamp(1.875rem, 1.43vw + 1.5rem, 4rem); /* Scales between 30px and 34px */
        --color-primary:rgb(253, 252, 238);
    }
}

@layer base{

      a {
        font-size: var(--fs-md); /* Scales between 16px and 32px */
        color:rgb(253, 252, 238);
      }
      
      body{
        color:rgb(253, 252, 238);
      }
      html{
        scroll-behavior: smooth;
      }

      *{
        font-family: 'montserrat', sans-serif;
      }

      /* lexend-200 - latin */
/* montserrat-alternates-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 200;
    src: url('montserrat-alternates-v17-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* montserrat-alternates-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: url('montserrat-alternates-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
  /* montserrat-alternates-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    src: url('montserrat-alternates-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  

    .header-margin-clamp {
        margin: clamp(1.5rem, 2.5vw, 5rem); /* Scales between 1rem and 2rem */
    }

    .svg-clamp {
        width: clamp(1.5rem, 2vw + 1rem, 2.5rem);
        height: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    }
    
    .hero-padding-clamp {
        padding-left: clamp(1.5rem, 2.5vw, 5rem); /* Scales between 1rem and 2rem */
    }

    .common-padding-clamp {
        padding: clamp(1.25rem, 2vw + 0.2rem, 3rem); /* Scales between 1.2rem and 8rem */
    }

    .big-padding-clamp {
        padding-left: 15vw; /* Scales between 1rem and 2rem */
        padding-right: 15vw; /* Scales between 1rem and 2rem */
    }

    .outline-grid{
        outline-width: 0.1px;
        outline-style: solid;
        outline-color: #fffde357;
    }



   
}
