---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Solal Zetlaoui Portfolio About" >
	<main class="min-h-90screen">
		<div class="pt-32">
			<div  class="px-cpc md:px-bpc min-h-95vh grid grid-cols-1 sm:grid-cols-2 ">
				<div>	
                    <p class="text-md lg:text-xl font-bold">Contact</p>
                    <div class="flex items-center gap-2">
                        <p class="text-md mt-4">&#8594; solaljz@gmail.com &#8592;</p>
                        <button id="copy" class="relative cursor-pointer mt-4">
                            <svg class="fill-primary hover:fill-secondary transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#e3e3e3" viewBox="0 0 256 256">
                                <path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path>
                            </svg>
                            <span id="tooltip" class="absolute bg-secondary hidden text-primary text-xs rounded p-2 top-full left-1/2 transform -translate-x-1/2 mt-1">Copied!</span>
                        </button>
                    </div>
                </div>
				<div class="pt-6 sm:col-span-2">
					<p class="text-md lg:text-xl font-bold pt-12">More about me</p>
					<p class="text-sm mt-4"><b>2025 - Now : <br></b> Freelance animator</p>
					<p class="text-sm mt-4"><b>February 2025 :<br></b> internship at <b>Oscar B Studio</b></p>
					<p class="text-sm mt-4"><b>June - August 2023 : <br></b> internship at <b>Les Improductibles</b></p>
						
					
				</div>
			</div>
		</div>
	</main>



  
		<script>
			// Find the button with the `copy` ID.
			const button = document.getElementById('copy');
			const tooltip = document.getElementById('tooltip');
		  
			// Handle click on the button.
			if (button) {
			  button.addEventListener('click', () => {
				const textToCopy = button.textContent ? button.textContent.trim() : '';
				navigator.clipboard.writeText(textToCopy).then(() => {
				  console.log('Text copied to clipboard:', textToCopy);
				  // Show the tooltip
				  if (tooltip) {
					tooltip.classList.remove('hidden');
					setTimeout(() => {
					  tooltip.classList.add('hidden');
					}, 2000); // Hide the tooltip after 2 seconds
				  }
				}).catch(err => {
				  console.error('Failed to copy text:', err);
				});
			  });
			}
		  </script>
</Layout>


