---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Solal Zetlaoui Portfolio About" >
	<main class="min-h-90screen">
		<div class="pt-32">
			<div  class="px-cpc md:px-bpc min-h-95vh grid grid-cols-1 sm:grid-cols-2 ">
				<div>	
					<p class="text-md lg:text-xl font-bold">Contact</p>
					<div class="relative inline-block">
						<p class="text-md  mt-4">&#8594; <button id="copy" class="cursor-pointer">solaljz@gmail.com</button> &#8592;</p>
						<span id="tooltip" class=" absolute hidden bg-secondary text-primary text-xs rounded p-2">Copied!</span>
					</div>
				</div>
				<div class="pt-6 sm:col-span-2">
					<p class="text-md lg:text-xl font-bold pt-12">More about me</p>
					<p class="text-sm mt-4"><b>2025 - Now : <br></b> Freelance animator</p>
					<p class="text-sm mt-4"><b>February 2025 :<br></b> internship at <b>Oscar B Studio</b></p>
					<p class="text-sm mt-4"><b>June - August 2023 : <br></b> internship at <b>Les Improductibles</b></p>
						
					
				</div>
			</div>
		</main>



  
		<script>
			// Find the button with the `copy` ID.
			const button = document.getElementById('copy');
			const tooltip = document.getElementById('tooltip');
		  
			// Handle click on the button.
			if (button) {
			  button.addEventListener('click', () => {
				const textToCopy = button.textContent ? button.textContent.trim() : '';
				navigator.clipboard.writeText(textToCopy).then(() => {
				  console.log('Text copied to clipboard:', textToCopy);
				  // Show the tooltip
				  if (tooltip) {
					tooltip.classList.remove('hidden');
					setTimeout(() => {
					  tooltip.classList.add('hidden');
					}, 2000); // Hide the tooltip after 2 seconds
				  }
				}).catch(err => {
				  console.error('Failed to copy text:', err);
				});
			  });
			}
		  </script>
</Layout>


