---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="Solal Zetlaoui Portfolio Works Animation & Motion Design" >
  <main>
    <section class="min-h-screen pt-24 bg-neutral-950">
        <div class="grid grid-cols-[repeat(auto-fit,minmax(240px,1fr))] common-padding-clamp  gap-2">
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Scene_1.webp"></div>
            <div class=" sm:col-span-3 sm:row-span-2" ><img class="w-full h-full object-cover" src="/src/artworks/599.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_3.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_4.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_2.webp"></div>
            <div class=" sm:col-span-2 sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_9.webp"></div>
            <div class=" sm:col-span-2 sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/564.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_5.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Background_6.webp"></div>
            <div class=" sm:row-span-2 sm:col-span-2" ><img class="w-full h-full object-cover" src="/src/artworks/589.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Illustration_sans_titre.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/591.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/587.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/582.webp"></div>
            <div class=" sm:col-span-3 sm:row-span-2" ><img class="w-full h-full object-cover" src="/src/artworks/600.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/598.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/565.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/572.webp"></div>
            <div class=" sm:col-span-2 sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/pas_de_titre.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/563.webp"></div>
            <div class=" sm:col-span-2 sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/2S0TK.webp"></div>
            <div class=" sm:col-span-3 sm:row-span-2" ><img class="w-full h-full object-cover" src="/src/artworks/I_SIMPLY_AM_NOT_THERE..webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/variety.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/✨gleaming✨.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/oil_and_water.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/451.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/393.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/402.webp"></div>
            <div class=" sm:row-span-2 sm:col-span-2" ><img class="w-full h-full object-cover" src="/src/artworks/Aki_Hayakawa.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/RESONANCE..webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/BURNING..webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/boooring.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Quanxi.webp"></div>
            <div class=" sm:col-span-2 sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Absolution_Temple.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/593.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/394.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/403.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/434.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/kurose.webp"></div>
            <div class=" sm:row-span-1" ><img class="w-full h-full object-cover" src="/src/artworks/Whenever_you_re_ready.webp"></div>
        </div>
    </section>
    
  </main>
</Layout>