---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="Blow Up" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">BLOW UP TV PRESENTATION </p>
                <p class="text-sm py-6">Full TV Presentation for the program Blow Up by Arte  </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/bIjlp4g0Xik?si=VJBsJaFNT3Y6JLi_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                <p class="text-md py-6">Blow up is a program by Arte about cinema. For this project I tried to create a dynamic presentation, using modern fast-paced jazz music,
                    quick cuts, and kinetic typography animtions exclusively. These choices combined with a vintage color palette made of brownish blacks, off-white and flashy orange, aimed to create timeless visuals
                that could effectively be inserted in any kind of period and subject. 
                Here I imagined what a focus on Jeff Bridges could look like.
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                </div>
</Layout>
