---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="Solal Zetlaoui Portfolio" >
    <main>
        <div class="min-width-full h-screen fixed inset-0 flex z-[-2] bg-secondary">
            <video class="w-full h-full object-cover opacity-85" src="/showreel_shortened_2.1.mp4" autoplay loop muted>
        </div>
        <div class="fixed bottom-1/4 hero-padding-clamp w-25 z-[-1]">
            <p>
                <span class="block text-hero ">Hi, I'm Solal.</span>
                <span class="block text-hero">Nice to meet you.</span>
            </p>
        </div>
        <a class="fixed bottom-10 left-1/2 fill-primary hover:fill-tertiary transition-colors duration-300 z-[-1] cursor-pointer" id="chevron"><svg class="w-12 h-12  transform -translate-x-1/2" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.28 56.78">
            <path class="cls-1" d="M49.65,56.78L1.52,7.54C-.54,5.43-.5,2.06,1.61,0h0s44.17,45.25,44.17,45.25c2.98,3.05,4.4,7.3,3.87,11.53h0Z"/>
            <path class="cls-1" d="M49.65,56.76L97.76,7.54c2.06-2.11,2.02-5.48-.09-7.54h0s-44.18,45.26-44.18,45.26c-2.97,3.05-4.39,7.28-3.85,11.5h0Z"/>
          </svg></a>		
        <section id="content" class="bg-secondary mt-screen z-0 relative min-h-screen ">
            <div class=" grid grid-cols-1">
                <div class="py-12 sm:very-big-padding-clamp">
                    <div class="common-padding-clamp">
                        <p class="text-md "><b> I'm an animator and motion designer </b> based in Paris. I am self taught in <b> animation and illustration</b>. Driven by a <b>keen passion for visual storytelling, I&nbsp;am dedicated to improving my skills and techniques</b>, especially in 2D.</h3>
                        <p><a class ="text-bmd textmarker-effect" href="/about">&#8594; More about me &#8592; </a></p>
                    </div>
                     </div>
                <div class=" grid grid-cols-1 small-padding-clamp sm:grid-cols-2 lg:grid-cols-3 gap-3">
                    <div class="relative group">
                        <a href="tda-2041">
                            <img src="TDA ring.webp" class="w-full h-auto rounded-sm group-hover:outline group-hover:outline-1 group-hover:outline-tertiary" alt="TDA 2041">
                            <video src="PFE-preview.mp4" class="w-full h-auto rounded-sm absolute inset-0 object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none"autoplay muted loop playsinline></video> 
                            <div class="absolute inset-0 p-4 bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                <p class="text-primary text-md"><b>TDA 2041</b></p>
                                <p class="text-primary text-sm">Professional Project</p>
                            </div>
                        </a>
                    </div>
                    <div class="relative group">
                        <a href="vangr-project-orchestra">
                            <img src="PFE.webp" class="w-full h-auto rounded-sm group-hover:outline group-hover:outline-1 group-hover:outline-tertiary" alt="VANGR PROJET ORCHESTRA">
                            <video src="PFE-preview.mp4" class="w-full h-auto rounded-sm absolute inset-0 object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none"autoplay muted loop playsinline></video> 
                            <div class="absolute inset-0 p-4 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                <p class="text-primary text-md"><b>Vangr Project Orchestra</b></p>
                                <p class="text-primary text-sm">Personal Project</p>
                            </div>
                        </a>
                    </div>
                <div class="relative group">
                    <a href="marie-antoinette-booktrailer">
                            <img src="MA.webp" class="w-full h-auto rounded-sm group-hover:outline group-hover:outline-1 group-hover:outline-tertiary" alt="Marie Antoinette Booktrailer">
                            <video src="PFE-preview.mp4" class="w-full h-auto rounded-sm absolute inset-0 object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none"autoplay muted loop playsinline></video> 
                            <div class="absolute inset-0 p-4 bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                <p class="text-primary text-md "><b>Marie Antoinette</b></p>
                                <p class="text-primary text-sm">Personal Project</p>
                            </div>
                    </a>
                </div>
                    
            
        </section>
    </main>
    <script>
  document.addEventListener('DOMContentLoaded', function() {
    const btn = document.getElementById('chevron');
    const target = document.getElementById('content');
    if (btn && target) {
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        target.scrollIntoView({ behavior: 'smooth' });
      });
    }
  });
</script>
</Layout>