---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="Marie Antoinette">
    <main>
        <section class="min-h-90screen pt-24">
            <Project
                title="Marie Antoinette"
                context="Personal Project"
                videoUrl="UBg-xKn5cRc" 
                credits={[]}
                previousUrl="/vangr_orchestra"
                nextUrl="/rollerball"
            />
        </section>
    </main>
</Layout>
