---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="TDA">
    <main>
        <section class="min-h-90screen pt-24">
            <Project
                title="Neotape"
                context="Personal Project"
                videoUrl="P-uHmT73j1I"
                credits={["Directing : Ewan Bahia, Solal Zetlaoui"]}
                previousUrl="/tda"
                nextUrl="/vangr_orchestra"
                desc="Launch video of a product for a fictional project as part of a one week 3D workshop"
            />
        </section>
    </main>
</Layout>
