---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="Neotape" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">NEOTAPE</p>
                <p class="text-sm py-6"> Advertising for a fictional modern tape </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/4Eqt3NXsXsE?si=R8TDu9JTeBbi-GQz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <p class="text-md py-6"> Neotape is a project conducted in pair over the course of a week. We decided to create a commercial for a new modern digital music tape through an over-the-top animation, with a wide range of colors and effects to create a very dynamic and modern atmosphere. </p>
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                    
                </div>
</Layout>
