---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="Rollerball">
    <main>
        <section class="min-h-90screen pt-24">
            <Project
                title="Rollerball Opening Credits"
                context="Personal Project"
                videoUrl="IMPed2Xrn_w"
                credits={["Directing : Raphael Authié, Solal Zetlaoui"]}
                previousUrl="/marie_antoinette"
                nextUrl="/tda"
                desc="Opening titles for Design school end of 2nd year project."
            />
        </section>
    </main>
</Layout>
