---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="Rollerball">
    <main>
        <section class="min-h-90screen pt-24">
            <Project
                title="Rollerball Opening Credits"
                context="Personal Project"
                videoUrl="https://www.youtube.com/embed/IMPed2Xrn_w?si=GangxNsrPiQG8oTp"
                credits={["Directing : Raphael Authié, Solal Zetlaoui"]}
                previousUrl="/marie_antoinette"
                nextUrl="/tda"
            />
        </section>
    </main>
</Layout>
