---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="TDA 2041" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">TDA 2041</p>
                <p class="text-sm py-6"> Animated video for the launch of TDA new collection "2041" </p>
                <iframe class="aspect-video w-full my-6" src="https://youtube.com/embed/68oYhUw76q0?si=cTj9BtYZMe_GPD7X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                <p class="text-md py-6">
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                </div>
</Layout>
