---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="TDA">
    <main>
        <section class="min-h-screen pt-24">
            <Project
                title="TDA 2041"
                context="Professional Project"
                videoUrl="https://www.youtube.com/embed/68oYhUw76q0?si=dmKuYU3hSwgXYJa4"
                credits=""
                previousUrl="/rollerball"
                nextUrl="/neotape"

            />

        </section>
    </main>
</Layout>
