---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
---

<Layout title="Blow Up" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">THE ORIGIN OF CENTAURS</p>
                <p class="text-sm py-6"> Explainer telling the (unexpected) origin of centaurs, as told in Greek Mythology </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/DVtInoZ7S1w?si=ryIIbEcHWuPIob3l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-md py-6"></p>
</Layout>
