---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Project from '../components/Project.astro';
---

<Layout title="Vangr Project">
    <main>
        <section class="min-h-screen pt-24">
            <Project
                title="Vangr Orchestra"
                context="Personal Project"
                videoUrl="AZcnltegb_A"
                credits={[]}
                previousUrl="/neotape"
                nextUrl="/marie_antoinette"
            />
        </section>
    </main>
</Layout>
