---
import Layout from '../layouts/Layout.astro';
import '../styles/main.css';
import Project_list from '../components/Project_list.astro';
---

<Layout title="Solal Zetlaoui Portfolio Works Animation & Motion Design" >
	<main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <Project_list />
        </section>
        
	</main>
</Layout>