---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Card from '../components/Card.astro';
---

<Layout title="Works">
    <main>
        <section class="min-h-90screen pt-24">
            <div class="grid grid-cols-1 px-cpc sm:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-5 gap-3 ">
                    <div class="relative">
                        <a href="/tda_2041">
                            <Card 
                            imagePath="/src/assets/TDA.webp"
                            videoPath="/00_PREVIEW_TDA.mov"
                            altText="TDA 2041"
                            title="TDA 2041"
                            context="Professional Project"
                            type="Animation"/>
                        </a>

                    </div>
                    <div class="relative">
                        <a href="/neotape">
                            <Card 
                            imagePath="/src/assets/NT.webp"
                            videoPath="/00_PREVIEW_NT.mov"
                            altText="Neotape"
                            title="Neotape"
                            context="Personal Project"
                            type="Motion Design"/>
                        </a>
                    
                    </div>
                    <div class="relative">
                        <a href="/vangr_orchestra">
                            <Card 
                            imagePath="/src/assets/PFE.webp"
                            videoPath="/00_PREVIEW_PFE.mov"
                            altText="Vangr Project"
                            title="Vangr Project"
                            context="Personal Project"
                            type="Animation"/>
                        </a>
                    
                    </div>
                    <div class="relative">
                        <a href="/marie_antoinette">
                            <Card 
                            imagePath="/src/assets/MA.webp"
                            videoPath="/00_PREVIEW_MA.mov"
                            altText="Marie Antoinette"
                            title="Marie Antoinette"
                            context="Personal Project"
                            type="Animation"/>
                        </a>
                    
                    </div>
                    <div class="relative">
                        <a href="/rollerball">
                            <Card 
                            imagePath="/src/assets/RB.webp"
                            videoPath="/00_PREVIEW_RB.mov"
                            altText="Rollerball"
                            title="Rollerball"
                            context="Personal Project"
                            type="Motion Design"/>
                        </a>
                    
                    </div>
            </div>
        </section>
    </main>
    <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.querySelectorAll('.group').forEach(group => {
                    const video = group.querySelector('.video');
                    if (!video) return;
                    group.addEventListener('mouseenter', () => {
                        video.play();
                    });
                    group.addEventListener('mouseleave', () => {
                        video.pause();
                        video.currentTime = 0;
                    });
                });
            });
    </script>
</Layout>
