<footer class="bg-tertiary py-10 flex justify-between items-center px-cpc 2xl:px-bpc">
        <span class="text-xsm py-2 sm:py-0">© 2026 - Solal Zetlaoui</span>
        <span class="text-xsm">Made by Solal Zetlaoui</span>
</footer>