<footer class="bg-tertiary py-10 flex justify-between items-center 3xl:px-bpc px-cpc">
        <span class="text-xsm text-quartary py-2 sm:py-0">© 2026 - Solal Zetlaoui</span>
        <span class="text-xsm text-quartary">Made by Solal Zetlaoui</span>
</footer>