<header class="w-full h-20 flex items-center fixed inset-0 px-6 bg-custom-gradient z-10">
    <a aria-labelledby="solal zetlaoui logo" class="flex items-center justify-center" href="/">
        <svg  class="svg-clamp fill-primary" id="Layer_5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.38 97.76">
            <path d="M45.78,0l-1.19,3.26c6.79,5.09,11.19,13.2,11.19,22.33,0,15.4-12.48,27.88-27.88,27.88L0,82.05v15.71h56.62l1.18-3.22c-6.79-5.09-11.19-13.2-11.19-22.33,0-15.4,12.48-27.88,27.88-27.88l27.88-28.57V0h-56.61Z"/>
            <circle cx="74.45" cy="72.17" r="18.8"/>
            <circle cx="27.88" cy="25.6" r="18.8"/>
        </svg>
    </a>
    <ul class="w-full flex justify-end">
        <li>
            <a class="text-md font-bold " href="/">Home</a>
        </li>
        <li>
            <a class="header-margin-clamp text-md font-bold" href="/works">Works</a>
        </li>
        <li>
            <a class="text-md font-bold" href="/about">About</a>
        </li>
    </ul>

</header>


