---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Bonbonrama" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">BONBONRAMA</p>
                <p class="text-sm py-6"> Advertisement for a fictional satirical pop up store </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/nfX5TuwmgZc?si=op6P2Nv-B1vCV5ND" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                <p class="text-md py-6">Bonbonrama was a group project where I assumed the lead for the motion design part. The idea was to create a satirical pop up store
                     that would sell candies and sweets in exchange for children's goods. I therefore created a very dynamic and colorful animation that relies on circus inspired musics and 
                    patterns. Combined with the odd mascott we created for the project, these elements put together aimed to created an inviting but uncanny store.  </p>
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                </div>
            </div>
        </section>
    </main>
</Layout>
