---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Daft punk Tribute" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">DAFT PUNK TRIBUTE</p>
                <p class="text-sm py-6"> Video Mapping animation  </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/_FQyqvQwPgY?si=q2rgFM9UkZ3a3fdj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                
                <p class="text-md py-6">The Daft Punk Tribute was a video mapping project created over the course of a week. The objective was to mix Daft Punk's original Tron OST with trance inspired atmosphere.
                    We decided to create a simple hynpnotic geometrical shape to support abstract stroboscopic effects and textures. Using Resolume and After Effects,
                     we linked the different layers of the pentagon to varying frequencies to push hyper dynamic (and sometimes unexpected) visuals. 
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                   <img class="w-full" src="/images/daft-punk-tribute/daft-punk-tribute-1.jpg" alt="Daft Punk Tribute" />
                   <img class="w-full" src="/images/daft-punk-tribute/daft-punk-tribute-1.jpg" alt="Daft Punk Tribute" />
                   <img class="w-full" src="/images/daft-punk-tribute/daft-punk-tribute-1.jpg" alt="Daft Punk Tribute" />
                </div>
</Layout>
