---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Foules" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">FOULES</p>
                <p class="text-sm py-6"> Advertisement for the exhibition 'FOULES' at La cité des sciences et de l'industrie </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/GAPWHnqNEzg?si=3ugWXm9JAN0pt6Yn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-md py-6">FOULES was an exhition about crowds behaviours. For this project, I wanted to essentialise what a crowd was easily explore all the different kinds 
                    presented at the exhibition. Inspired by the simple yet incredibly efficient advertisement by Apple for instance, I went for an animation based on basic shapes, typography, and 
                    heavily relying on sound design.</p>
            </div>
        </section>
    </main>
</Layout>