---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Landscape" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">LANDSCAPE</p>
                <p class="text-sm py-6"> Landscape animation inspired by Ghibli's style and atmosphere </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/MCNd4W5AlwM?si=eOK7Jw_6hI44ceHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-md py-6">This was my very first cel-animation project. I was to create a landscape with an animal. Inspired by Ghibli's Ma (or Emptiness, defined as the breaks, pauses and stillness
                     one can find in movies, particularly in Ghibli's production), I wanted to make a calm, quite and peaceful natural landscape. </p>
</Layout>
