---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Marie-Antoinette Booktrailer" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">MARIE-ANTOINETTE BOOKTRAILER</p>
                <p class="text-sm py-6"> Booktrailer for <i>Marie-Antoinette </i> by Stefan Zweig </p>
                <iframe class="w-full aspect-video my-6" src="https://www.youtube.com/embed/UBg-xKn5cRc?si=NLWbaeWLm8-ptbf2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <p class="text-md py-6">Marie-Antoinette is a booktrailer I made for a school project. The goal was to create a trailer for a book of our choice. I chose Stefan Zweig's biography of Marie-Antoinette. 
                    I wanted to create a trailer that would reflect the book's atmosphere and the character of Marie-Antoinette herself. 
                    I therefore created a trailer that would depict the two main parts of her life : first the excessive, elegant, luxurious and frivolous life, clashing with the tragic, dark and violent fate that later awaited her during the French Revolution.
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                </div>
            </div>
        </section>
    </main>
            </Layout>
