---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
---

<Layout title="Rollerball" >
    <main>
        <section class="min-h-screen pt-24 bg-neutral-950">
            <div class="common-padding-clamp lg:big-padding-clamp">
                <p class="text-xl">ROLLERBALL</p>
                <p class="text-sm py-6"> Opening credits for Rollerball 1975  </p>
                <iframe class="aspect-video w-full my-6" src="https://www.youtube.com/embed/IMPed2Xrn_w?si=3b2YFIO94gZMm9ej" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-md py-6"> For my last first year school project, I was to create a full-fledged opening credits for a movie, in pair. 
                    We chose the science-fiction movie Rollerball, from 1975. We decided to approach it with a modern eye, combining contemporary dramatic orchestral music with digital illustrations and
                a strong, easy to identify color palette. The movie is set in 2018 where the power is kept close at hands by high politicians, organizing Rollerball games, a hyperviolent sport meant to alienate the people.
                We therefore embraced the political aspect and manipulative nature of the cast hiding behind the eye-catching sport in an attempt to highlight the underlying themes of the movie.  </p>
                </p>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-6">
                </div>
</Layout>
